* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    font-size: 62.5%;
    /* 1rem = 10px */
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: bold, sans-serif;
    color: white;
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    /*background: linear-gradient(to left bottom, #1d0110, #141414, #030303, #19022c, #140324, #140324);*/
    background-size: 100%;
    /*animation: colors 5s ease infinite;*/


}

img {
    width: 45%;
    height: auto;

}

h1 {
    margin: 1rem 0;
    ;
}

p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

input {
    padding-left: 1rem;
    margin: 1rem 0;
}

button {
    background-color: #7f30db;
    color: white;
    border: none;
}

.body {
    display: flex;
    padding: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background: black;
    box-shadow: rgba(0, 0, 0, 0.753) 0px 22px 70px 4px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.caixa {
    border-radius: 0.5rem;
    width: 25rem;
    height: 4rem;
}
